In [1]:
import pandas as pd

In [2]:
food_service = pd.read_csv(r"C:\Users\Atefah\Desktop\IRONHACK\SQL_PROJECT\DATA_SET\Startup Failure (Food and services).csv")

In [3]:
food_service.head(2)

,Name,Sector,Years of Operation,What They Did,How Much They Raised,Why They Failed,Takeaway,Giants,No Budget,Competition,Poor Market Fit,Acquisition Stagnation,High Operational Costs,Monetization Failure,Niche Limits,Execution Flaws,Trend Shifts
0,Cafe X,Accommodation and Food Services,6 (2015-2021),Robotic coffee kiosks,$15M,Closed 2021; low adoption,lost to Starbucks,0,1,0,1,1,0,1,0,0,0
1,Caviar,Accommodation and Food Services,8 (2012-2020),Premium food delivery,$90M,Sold 2020; couldn’t scale,lost to DoorDash,0,1,0,1,0,1,0,0,0,0

In [4]:
food_service.drop(columns=['What They Did', 'Why They Failed', 'Takeaway'], inplace=True)

In [5]:
food_service.head(2)

,Name,Sector,Years of Operation,How Much They Raised,Giants,No Budget,Competition,Poor Market Fit,Acquisition Stagnation,High Operational Costs,Monetization Failure,Niche Limits,Execution Flaws,Trend Shifts
0,Cafe X,Accommodation and Food Services,6 (2015-2021),$15M,0,1,0,1,1,0,1,0,0,0
1,Caviar,Accommodation and Food Services,8 (2012-2020),$90M,0,1,0,1,0,1,0,0,0,0

In [6]:
food_service.rename(columns={
    'Name': 'name',
    'Sector': 'sector',
    'Years of Operation': 'years_operation',
    'How Much They Raised': 'amount_raised',
    'Giants': 'giants',
    'No Budget': 'no_budget',
    'Competition': 'competition',
    'Poor Market Fit': 'poor_market_fit',
    'Acquisition Stagnation': 'acquisition_stagnation',
    'Platform Dependency': 'platform_dependency',
    'Monetization Failure': 'monetization_failure',
    'Niche Limits': 'niche_limits',
    'Execution Flaws': 'execution_flaws',
    'Trend Shifts': 'trend_shifts',
    'Toxicity/Trust Issues': 'trust_issue',
    'Regulatory Pressure': 'regulatory_pressure',
    'Overhype': 'overhype'
}, inplace=True)

print(food_service.columns)

Index(['name', 'sector', 'years_operation', 'amount_raised', 'Giants ',
       'no_budget', 'competition', 'poor_market_fit', 'acquisition_stagnation',
       'High Operational Costs', 'monetization_failure', 'niche_limits',
       'execution_flaws', 'trend_shifts'],
      dtype='object')

In [7]:
food_service.head(2)

,name,sector,years_operation,amount_raised,Giants,no_budget,competition,poor_market_fit,acquisition_stagnation,High Operational Costs,monetization_failure,niche_limits,execution_flaws,trend_shifts
0,Cafe X,Accommodation and Food Services,6 (2015-2021),$15M,0,1,0,1,1,0,1,0,0,0
1,Caviar,Accommodation and Food Services,8 (2012-2020),$90M,0,1,0,1,0,1,0,0,0,0

In [8]:
food_service.rename(columns={
    'High Operational Costs': 'high_operational_costs',}, inplace=True)

In [9]:
food_service.head(2)

,name,sector,years_operation,amount_raised,Giants,no_budget,competition,poor_market_fit,acquisition_stagnation,high_operational_costs,monetization_failure,niche_limits,execution_flaws,trend_shifts
0,Cafe X,Accommodation and Food Services,6 (2015-2021),$15M,0,1,0,1,1,0,1,0,0,0
1,Caviar,Accommodation and Food Services,8 (2012-2020),$90M,0,1,0,1,0,1,0,0,0,0

In [10]:
food_service[['start_year', 'end_year']] = food_service['years_operation'].str.split('-', expand=True)

In [11]:
food_service.head(2)

,name,sector,years_operation,amount_raised,Giants,no_budget,competition,poor_market_fit,acquisition_stagnation,high_operational_costs,monetization_failure,niche_limits,execution_flaws,trend_shifts,start_year,end_year
0,Cafe X,Accommodation and Food Services,6 (2015-2021),$15M,0,1,0,1,1,0,1,0,0,0,6 (2015,2021)
1,Caviar,Accommodation and Food Services,8 (2012-2020),$90M,0,1,0,1,0,1,0,0,0,0,8 (2012,2020)

In [12]:
food_service['start_year_cleaned'] = food_service['start_year'].str.extract(r'(\d{4})')

In [13]:
food_service.head(2)

,name,sector,years_operation,amount_raised,Giants,no_budget,competition,poor_market_fit,acquisition_stagnation,high_operational_costs,monetization_failure,niche_limits,execution_flaws,trend_shifts,start_year,end_year,start_year_cleaned
0,Cafe X,Accommodation and Food Services,6 (2015-2021),$15M,0,1,0,1,1,0,1,0,0,0,6 (2015,2021),2015
1,Caviar,Accommodation and Food Services,8 (2012-2020),$90M,0,1,0,1,0,1,0,0,0,0,8 (2012,2020),2012

In [14]:
food_service.drop(columns=['start_year'], inplace=True)

In [15]:
food_service.rename(columns={
    'start_year_cleaned': 'start_year',}, inplace=True)

In [16]:
food_service.head(2)

,name,sector,years_operation,amount_raised,Giants,no_budget,competition,poor_market_fit,acquisition_stagnation,high_operational_costs,monetization_failure,niche_limits,execution_flaws,trend_shifts,end_year,start_year
0,Cafe X,Accommodation and Food Services,6 (2015-2021),$15M,0,1,0,1,1,0,1,0,0,0,2021),2015
1,Caviar,Accommodation and Food Services,8 (2012-2020),$90M,0,1,0,1,0,1,0,0,0,0,2020),2012

In [17]:
food_service['end_year_cleaned'] = food_service['end_year'].str.extract(r'(\d{4})')

In [18]:
food_service.drop(columns=['end_year'], inplace=True)

In [19]:
food_service.rename(columns={
    'end_year_cleaned': 'end_year',}, inplace=True)

In [20]:
food_service.head(2)

,name,sector,years_operation,amount_raised,Giants,no_budget,competition,poor_market_fit,acquisition_stagnation,high_operational_costs,monetization_failure,niche_limits,execution_flaws,trend_shifts,start_year,end_year
0,Cafe X,Accommodation and Food Services,6 (2015-2021),$15M,0,1,0,1,1,0,1,0,0,0,2015,2021
1,Caviar,Accommodation and Food Services,8 (2012-2020),$90M,0,1,0,1,0,1,0,0,0,0,2012,2020

In [21]:
food_service.drop(columns=['years_operation'], inplace=True)

In [22]:
food_service.head(2)

,name,sector,amount_raised,Giants,no_budget,competition,poor_market_fit,acquisition_stagnation,high_operational_costs,monetization_failure,niche_limits,execution_flaws,trend_shifts,start_year,end_year
0,Cafe X,Accommodation and Food Services,$15M,0,1,0,1,1,0,1,0,0,0,2015,2021
1,Caviar,Accommodation and Food Services,$90M,0,1,0,1,0,1,0,0,0,0,2012,2020

In [23]:
food_service['amount_raised_cleaned'] = food_service['amount_raised'].astype(str).str.replace(r'[^\d.]', '', regex=True)
food_service['amount_raised_cleaned'] = pd.to_numeric(food_service['amount_raised_cleaned'], errors='coerce')

In [24]:
food_service = food_service.drop(columns=['amount_raised'])
food_service= food_service.rename(columns={'amount_raised_cleaned': 'amount_raised'})

In [25]:
food_service.head(2)

,name,sector,Giants,no_budget,competition,poor_market_fit,acquisition_stagnation,high_operational_costs,monetization_failure,niche_limits,execution_flaws,trend_shifts,start_year,end_year,amount_raised
0,Cafe X,Accommodation and Food Services,0,1,0,1,1,0,1,0,0,0,2015,2021,15
1,Caviar,Accommodation and Food Services,0,1,0,1,0,1,0,0,0,0,2012,2020,90

In [26]:
food_service.to_csv('food_service.csv', index=False)
print("DataFrame saved to 'food_service.csv'")

DataFrame saved to 'food_service.csv'